# Copy to key.properties (gitignored) and fill in. Path is relative to android/.
# Create a keystore: keytool -genkey -v -keystore upload-keystore.jks -keyalg RSA -keysize 2048 -validity 10000 -alias upload
#
# storeFile=upload-keystore.jks
# storePassword=***
# keyPassword=***
# keyAlias=upload

storePassword=
keyPassword=
keyAlias=upload
storeFile=upload-keystore.jks
